body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-weight: 800;
  margin: 0 5px;
}

.js-counter {
  width: 350px;
  position: relative;
  margin: 300px 40%;
  display: flex;
}

.btn-counterClear {
  width: 150px;
  height: 30px;
  transition: 0.25s;
  outline: none;
  border: none;
  border-radius: 7px;
}

.btn-counterClear:hover {
  background: rgb(255, 211, 117);
  scale: 1.04;
  box-shadow: 0 0 10px orange;
}

.btn-counterAdd {
  width: 150px;
  height: 30px;
  border-radius: 7px;
  transition: 0.25s;
  border: none;
  outline: none;
}

.btn-counterAdd:hover {
  box-shadow: 0 0 10px orange;
  background: rgb(255, 211, 117);
  scale: 1.04;
}

.counter {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  
  left:47%;

  position: relative;
  bottom: 59px;
}

.btn-counterClear:active {
  scale: 0.9;
}

.btn-counterAdd:active {
  scale: 0.9;
}

.btn-counterReduce {
  border-radius: 7px;
  transition: 0.25s;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

.btn-counterReduce:hover {
  box-shadow: 0 0 10px orange;
  background: rgb(255, 211, 117);
  scale: 1.08;
}

.btn-counterReduce:active {
  scale: 0.9;
}

.creator {
  color: gray;
  position: absolute;
  top: 97%;
  left: 1%;
}